<div class="container">
  <h1>Products</h1>
  {{#each products}}
    <div>
      <p>ID:
        {{this._id}}
        -
        {{this.title}}
        - ${{this.price}}
        -
        {{this.status}}</p>
    </div>
  {{/each}}
</div>